body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    height: 30vh;
}
section{
    height: 400px;
}
a{
    /* text-decoration: 2px wavy black;
     text-decoration-line: underline; */
     text-shadow: 2px 2px black;
}
#home{
    background-color: antiquewhite;
    
}
#works{
    background-color: aqua;
}
#background{
    background-color: greenyellow;
}
#achievements
{
    background-color: rgb(237, 0, 190);
}
footer{
    font-size: 18px;
    background-color: black;
    color: white;
    text-align:center;
    text-transform: capitalize;
    text
    
}