    p{
            background-color: red;
        }
        .para
        {
            background-color: green;
            color: yellow;
        }
        #pid{
            background-color: aqua;
            color: bisque;
        }
        h1{
            background-color: green;
        }