*{
    box-sizing: border-box;
}
.container{
    border: 2px solid red;
}
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px;
    display: table;
}
.box3{
  
}