@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(210, 46%, 95%);
      font-family: "Barlow Semi Condensed", sans-serif;
font-size: 13px;
}
h2{
    color: white;
}
.main{
    height: 50vh;
    width: 70vw;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
}
.box{
    background-color: white;
    padding: 30px;
    border-radius: 10px;

}
.top-image{
    display: flex;
            gap: 10px;

}
.box p{
        color: hsl(0, 0%, 81%);

}
.top-image img{
    border-radius: 50%;
}
.box1{
    grid-column:1/3;
    background: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: hsl(263, 55%, 52%);
    background-position-x: 90%;
}
.box2{
    grid-column:3/4;
}
.box3{
    grid-row:2/3
}
.box4{
    grid-row: 2/3;
    grid-column:2/4;
}
.box5{
    grid-row:1/3;
}