#productsList{
    margin: auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product{
    box-shadow: 5px 5px black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartItem img{
    height: 50px;
    width: 50px;
}